@model TaskManager.Domain.Models.Project

<h1>@Model.Name</h1>
<hr />
<p>@Model.Description</p>

<h5>Tasks for this project:</h5>
<hr />

<ul class="list-group">
    @foreach (var task in ViewBag.Tasks)
    {
        <li class="list-group-item d-flex align-items-center justify-content-between">
            @if (!task.IsCompleted)
            {
                <form method="post" asp-action="MarkCompleted" asp-controller="Tasks" style="display: flex; align-items: center;">
                    <input type="hidden" name="id" value="@task.Id" />
                    <input type="checkbox" onchange="this.form.submit()" />
                    <span class="ms-3">
                        @task.Title - @task.Description
                    </span>
                </form>
            }
            else
            {
                <div style="display: flex; align-items: center;">
                    <input type="checkbox" checked disabled />
                    <span class="ms-3 text-decoration-line-through text-muted">
                        @task.Title - @task.Description
                    </span>
                </div>
            }
            @if(task.IsCompleted == false)
            {
                <div>
                    <a class="btn alert-success m-1" href="/Tasks/Edit/@task.Id">
                        <i class="bi bi-pencil-square"></i>Edit
                    </a>
                    <a class="btn alert-danger m-1" href="/Tasks/Delete/@task.Id">
                        <i class="bi bi-trash"></i>Delete
                    </a>
                </div>
            }
        </li>
    }
</ul>

<div class="d-inline-flex">
    <a class="btn alert-secondary m-3" asp-controller="Tasks" asp-action="Create" asp-route-projectId="@Model.Id">
        Add task
    </a>
    <a class="btn alert-info m-3" asp-controller="Projects" asp-action="Edit" asp-route-Id="@Model.Id">
        Edit project
    </a>
    <form asp-controller="Projects" asp-action="Delete" asp-route-Id="@Model.Id" method="post">
        <button type="submit" class="btn alert-danger m-3">Delete project</button>
    </form>
</div>
